/*
    PAGE N°2
*/

/* -------- */
/* BODY */
body {

    margin: 0;
    padding: 0;
}

/* -------- */
/* MAIN */
#main{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 7vh auto auto auto auto;

    grid-template-areas: 
    "nav nav nav nav nav nav nav nav nav nav"
    "head head head head head head head head head head"
    "wrap1 wrap1 wrap1 wrap1 wrap1 wrap1 wrap1 wrap1 wrap1 wrap1 "
    "wrap2 wrap2 wrap2 wrap2 wrap2 wrap2 wrap2 wrap2 wrap2 wrap2 ";
} 



/* -------- */
/*BACKGROUND COLOR*/
.bg-black {
    background-color: black;
}
/* -------- */

/*COLOR FONT*/
.font-white {
    color: white;
}


/* -------- */
/* GLOBAL FLEX */

.row {
    display: flex;
    flex-direction: row;
}


.item-list {
    padding: 5px;
    margin-right: 15px;

}

.al-itm-center {
    display: flex;
    align-items: center;
}

.txt-right {
    text-align: right;
}

.mg-left {
    margin-left: 15px;
}

.mg-right {
    margin-right: 15px;
}

.mg-top {
    margin-top: 30px;
}

.space-btw {
    display: flex;
    justify-content: space-between;
}

.space-end {
    display: flex;
    justify-content: flex-end;
}



html,
body {
    margin: 0;
    height: 100%;
}

/* -------- */
/* NAVBAR */
#nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "title . . listitem ."; 
}

#nav > h2 {grid-area: title;}
#nav > ul {grid-area: listitem;}

.top-nav {
    height: 50px;
    padding: 1em;
}


.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 5px;
}



/* -------- */
/* HEADER */
#header {
    grid-area: head;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-rows: "head head head head head";
    height: 100vh;
    width: 100vw;
    background: center / cover no-repeat url("/assets/images/industries.jpeg");

}


#wrapper1 {
    grid-area: wrap1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "wrap1 img1" ;

}

#wrapper1 > img1 {grid-area: img1;}


#wrapper2 {
    grid-area: wrap2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "img2 wrap2" ;

}

#wrapper2 > img2 {grid-area: img2;}


/* IMAGES */

#img1 {
    height: 70vh;
    width: 70vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/assets/images/apercu.jpeg");
}

.img2 {
    height: 70vh;
    width: 70vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/assets/images/materiel.jpeg");
}



/* .bloc1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
} */